
*{
    margin: 0;
}
.hero{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;   /* centraliza o bloco */
    align-items: center;
    padding: 40px 80px;        /* menos espaço vertical */
    gap: 30px;                 /* diminui espaço entre texto e imagem */
}


.titulo{
    width: 500px;
}

.titulo h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.titulo p{
    font-size: 18px;
    line-height: 1.6;
}


.imagem {
    width: 400px;
    height: 300px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* deixa bonito sem distorcer */
    border-radius: 20px;
}

.cabecalho img {
    width: 140px;   /* pode ajustar 120px, 150px... */
    height: auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #ffffff;
    border-bottom: 2px solid #cc0000; /* vermelhinho SENAI */
}

.cabecalho p {
    margin: 0 20px;
    font-weight: 500;
    cursor: pointer;
}

.cabecalho p:hover {
    color: #cc0000;
}

.menu {
    display: flex;
}

